@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
* {
  padding: 0;
  margin: 0;
}
.font-mont {
  font-family: Montserrat, Arial;
}
.font-arial {
  font-family: Arial;
}
.clearfix {
  clear: both;
}
html,
body {
  min-height: 100%;
}
.center-content {
  position: relative;
  width: 980px;
  margin: 0 auto;
}
#header {
  position: relative;
  width: 100%;
  height: 63px;
  background-color: #FFF;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 100;
}
#header h1 {
  float: left;
  padding-top: 5px;
  font-family: Montserrat, Arial;
  font-size: 20px;
}
#header h1 a {
  text-decoration: none;
  color: #000;
}
#header h1 a span {
  position: relative;
  top: -20px;
  margin-left: 10px;
}
#header #menu {
  float: right;
}
#header #menu > li {
  position: relative;
  float: left;
  display: inline-table;
  border-left: 1px solid #EEE;
  height: 63px;
  padding: 0px 16px;
  line-height: 63px;
  cursor: pointer;
  font-family: Montserrat, Arial;
  font-size: 16px;
  color: #000;
}
#header #menu > li:last-child {
  border-right: 1px solid #EEE;
}
#header #menu > li > a {
  color: #000;
  text-decoration: none;
}
#header #menu > li:hover,
#header #menu > li.active {
  background-color: #ff174f;
  color: #FFF;
}
#header #menu > li:hover a,
#header #menu > li.active a {
  color: #FFF;
}
#header #menu > li:hover > .submenu,
#header #menu > li.active > .submenu {
  display: block;
}
#header #menu > li > .submenu {
  display: none;
  position: absolute;
  width: 200px;
  left: -30%;
  top: 63px;
  background-color: #FFF;
}
#header #menu > li > .submenu li {
  display: block;
  color: #000;
  text-align: center;
  height: 40px;
  border-top: 1px solid #EEE;
  line-height: 40px;
}
#header #menu > li > .submenu li:hover {
  background-color: #ff174f;
}
#header #menu > li > .submenu li:hover a {
  color: #FFF;
}
#header #menu > li > .submenu li a {
  color: #000;
  text-decoration: none;
}
#site {
  position: relative;
  width: 100%;
  padding-top: 476px;
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  z-index: 1;
}
#site #conteudo {
  position: relative;
  width: 980px;
  height: 100%;
  background-color: #FFF;
  margin: 0 auto;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
  top: -150px;
  padding-bottom: 100px;
  margin-bottom: -228px;
}
#site #conteudo #busca {
  position: absolute;
  width: 460px;
  height: 60px;
  background-color: #FFF;
  right: 0;
  top: -60px;
  padding: 10px;
}
#site #conteudo #busca input[type='text'] {
  float: left;
  padding: 0px 15px;
  width: 350px;
  height: 50px;
  border: 1px solid #CCC;
  background-color: #efefef;
  font-family: Arial;
  font-size: 13px;
  color: #333;
}
#site #conteudo #busca input[type='submit'] {
  float: right;
  display: table;
  width: 70px;
  height: 50px;
  background-color: #ff174f;
  border: none;
  font-size: 18px;
  color: #FFF;
  cursor: pointer;
}
#site #conteudo #busca input[type='submit']:hover {
  background-color: #000;
}
#site #conteudo .center-content {
  width: 950px;
  margin: 0 auto;
  padding: 15px;
}
#home h4 {
  color: #ff174f;
  font-family: Montserrat, Arial;
  font-size: 26px;
  margin-bottom: 20px;
}
#home .lista-banners {
  margin-bottom: 60px;
}
#home .lista-banners li {
  display: inline-table;
  margin-right: 71px;
}
#home .lista-banners li:last-child {
  margin-right: 0px;
}
#home .produtos {
  position: relative;
  width: 100%;
  font-family: Arial;
}
#home .produtos a {
  display: table;
  text-decoration: none;
  cursor: pointer;
}
#home .produtos .item {
  position: relative;
  float: left;
  width: 250px;
  border: 1px solid #EEE;
  padding: 20px;
  margin-right: 36px;
  margin-bottom: 36px;
  background-color: #f9f9f9;
}
#home .produtos .item:hover {
  background-color: #fff1f4;
  border-color: #ff174f;
}
#home .produtos .item:nth-child(3n+0) {
  margin-right: 0px;
}
#home .produtos .item img {
  display: table;
  margin: 0 auto;
  margin-bottom: 25px;
}
#home .produtos .item h3 {
  font-size: 15px;
  font-weight: bold;
  color: #000;
  text-align: center;
  margin-bottom: 10px;
}
#home .produtos .item .preco {
  font-size: 30px;
  text-align: center;
  color: #000;
  font-weight: bold;
  margin-bottom: 30px;
}
#home .produtos .item .preco .apenas {
  font-size: 12px;
  color: #666;
}
#home .produtos .item .comprar-bt {
  display: table;
  width: 140px;
  height: 50px;
  background-color: #ff174f;
  font-family: Montserrat, Arial;
  text-align: center;
  line-height: 50px;
  color: #FFF;
  font-size: 18px;
  margin: 0 auto;
}
#home .produtos .item .comprar-bt:hover {
  background-color: #000;
}
#rodape {
  position: relative;
  width: 100%;
  padding: 30px 0px;
  background-color: #ff174f;
  z-index: 2;
}
#rodape .center-content {
  width: 960px;
}
#rodape p {
  font-family: Arial;
  color: #FFF;
  font-size: 14px;
  float: left;
}
#rodape ul {
  float: right;
}
#rodape ul li {
  display: inline-table;
  margin-left: 30px;
}
#rodape ul li a {
  color: #FFF;
  font-family: Montserrat, Arial;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}
#rodape ul li a:hover {
  color: #000;
}
#sobre h1,
#sobre h4 {
  font-family: Montserrat, Arial;
  font-size: 26px;
  color: #ff174f;
  margin-bottom: 20px;
}
#sobre h4 {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
}
#sobre ul {
  margin-bottom: 15px;
}
#sobre ul li {
  display: block;
  margin-bottom: 5px;
  font-family: Montserrat, Arial;
  font-weight: bold;
  color: #ff174f;
  font-size: 14px;
}
#sobre ul li span {
  color: #333;
  font-weight: normal;
}
#sobre img {
  float: left;
  margin-right: 15px;
}
#sobre p {
  font-family: Arial;
  font-size: 15px;
  line-height: 24px;
  color: #333;
}
#contato h1 {
  font-family: Montserrat, Arial;
  font-size: 26px;
  color: #ff174f;
  margin-bottom: 20px;
}
#contato form {
  margin-top: 40px;
}
#contato form label {
  display: block;
  margin-bottom: 20px;
}
#contato form label span {
  font-family: Montserrat, Arial;
  font-size: 16px;
  color: #000;
  float: left;
  margin-right: 10px;
  width: 100px;
  text-align: right;
  line-height: 40px;
}
#contato form input[type='text'],
#contato form textarea {
  width: 400px;
  height: 40px;
  padding: 0px 15px;
  font-family: Arial;
  font-size: 14px;
  border: 1px solid #CCC;
}
#contato form textarea {
  height: 150px;
  resize: none;
  padding: 15px;
}
#contato form input[type='submit'] {
  width: 430px;
  height: 50px;
  background-color: #ff174f;
  border: none;
  font-family: Montserrat, Arial;
  color: #FFF;
  font-size: 16px;
  cursor: pointer;
  margin-left: 110px;
}
#contato form input[type='submit']:hover {
  background-color: #000;
}
#carrinho .produto h2 {
  color: #ff174f;
  font-family: Montserrat, Arial;
  font-size: 26px;
  margin-bottom: 20px;
}
#carrinho .produto {
  position: relative;
  width: 100%;
  font-family: Arial;
}
#carrinho .produto a {
  display: table;
  text-decoration: none;
  cursor: pointer;
}
#carrinho .produto {
  position: relative;
  float: left;
  width: 90%;
  border: 1px solid #EEE;
  padding: 20px;
  margin-right: 36px;
  margin-bottom: 36px;
  background-color: #f9f9f9;
}
#carrinho .produto .produtos {
	background-color: #FFF;
}
#carrinho .produto .produtos thead {
	background-color: #000;
	color: #FFF;
	text-align: center;
}
#carrinho .produto .total {
	background-color: #666;
	color: #FFF;
}
#carrinho .produto .produtos input[type='text'] {
	width: 40px;
	height: 28px;
	text-align: center;
}
#carrinho .produto .finalizar {
	float: right;
}
#carrinho .produto .finalizar h3 {
  font-family: Montserrat, Arial;
  font-size: 22px;
  color: #ff174f;
  margin-bottom: 20px;
}
#carrinho .produto .finalizar .cep {
	width: 140px;
	height: 30px;
}
#carrinho .produto .finalizar .calc_cep {
	width: 30px;
  	height: 30px;
	background-color: #ff174f;
	border: none;
	font-size: 18px;
	color: #FFF;
	cursor: pointer;
}
#carrinho .produto .finalizar .calc_cep:hover {
	background-color: #000;
}
#carrinho .finalizar input[type='submit'] {
	width: 220px;
  	height: 50px;
	background-color: #ff174f;
	border: none;
	font-size: 18px;
	color: #FFF;
	cursor: pointer;
}
#carrinho .finalizar input[type='submit']:hover {
	background-color: #000;
}
/*# sourceMappingURL=style.css.map */